{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Person</title>
    <link rel="stylesheet" href="{% static 'css/find_person.css' %}">
</head>
<body>
    <img src="{% static 'project/06.png' %}" alt="Background Image" class="fullscreen-image">
    <!-- Navbar -->
    <nav id="navbar">
        <ul>
            <li><button class="nav-button"><a href="{% url 'index' %}">Home</a></button></li>
            <li><button class="nav-button"><a href="{% url 'cases:add_case' %}">Cases</a></button></li>
            <li><button class="nav-button"><a href="{% url 'finding:find_person' %}">Finding</a></button></li>
        </ul>
        <div class="auth-buttons">
            <span>Welcome, {{ request.session.username }}!</span>
            <button type="button" class="signout-button"><a href="{% url 'signout' %}">Sign Out</a></button>
        </div>
    </nav>
    <div class="form-container">
        <h1>Find Missing Person</h1>
        <p> Please Submit the image and begin the search <p> 
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="submit-button">Search</button>
        </form>
    </div>
</body>
</html>
